<!-- intro section -->
<div class="slot-large">
  <h3>About me</h3> 
  <p>I'm Jamie. I'm driven by a deep curiosity for how and why things work -- whether products, organizations, or systems -- and equally why things fail. I find joy in reading, travelling and pursuing a healthy and sustainable lifestyle. I currently work in Analytics at Farfetch, where I focus on using data to drive strategic decisions and unlock growth.</p>
</div>

<!--links-->
<div class="slot-large">
  <h3>You are here</h3> 
  <p>This is my digital home, a place for both my formal and fleeting thoughts. You'll find my
  {%- include moc-list.html -%}.</p>

<!-- Add image below Digital Garden section -->
  <div class="image-section">
  <img src="{{ site.baseurl }}/assets/img/night.jpg" alt="Night Scene" style="max-width: 100%; height: auto;">
  <figcaption style="text-align: center; font-size: 0.8em; color: #555; margin-top: 5px; font-family: inherit;">Night, Arkhip Kuindzhi</figcaption>
  </div>
</div>
       
<!-- now page -->
<div class="slot-large">
  <h3>Now-ish</h3> 
  <p>At the end of each month, I write about what I have done and what I would like to do next month. See <a href="/now" class="nav-link">Now</a> if you're interested!</p>
</div>

  <!-- contact section -->
<div class="slot-large">
  <h3>Contact</h3> 
  <p>If anything on this site resonated with you, or you'd just like to chat analytics, growth or strategy, feel free to <a href="mailto:hiran@hiran.in">contact me</a>. Naturally I can also be reached on <a href="https://www.linkedin.com/in/jamie-harper/">LinkedIn</a>.</p>
